body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100% !important;
  margin: 0;
}

#root, .App {
  height: 100% !important;
}

/* prevent sticky navbar from disappearing on hotdog page due to root height - height: 100% alone isn't enough*/
#root {
	overflow: auto;
}

/* custom scrollbar same colour as primary */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cbb09c;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* remove inner dashed lines from crop box */
.cropper-dashed {
  display: none !important;
}
/* crop box lines black */
.cropper-view-box {
  outline-color: black !important;
}
/* drag points slightly larger + white with black outline */
.cropper-point {
  height: 7.5px !important;
  width: 7.5px !important;
  background-color: white !important;
  outline: 1px solid black !important;
}
/* cropping container + modal/mask background white */
.cropper-modal {
  background-color: #fff !important;
  opacity: 0.45 !important;
}
/* remove weird shadow behind crop box lines */
.cropper-line {
  background-color: transparent !important;
}
/* remove cross cursor when hovering over excess space in cropper container */
.cropper-crop {
  cursor: unset !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
